<%- include("./partials/head")%>
<%- include("./partials/header")%>
    <main id="user-list">
        <h1>Lista de usuários</h1>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>E-mail</th>
                    <th>Idade</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>João</td>
                    <td>Santos</td>
                    <td>joao@email.com</td>
                    <td>30</td>
                    <td class="table-actions">
                        <a href="" class="table-link-show">Visualizar</a>
                        <a href="" class="table-link-edit">Editar</a>
                        <a href="" class="table-link-delete">Deletar</a>
                    </td>
                </tr>
                <tr>
                    <td>João</td>
                    <td>Santos</td>
                    <td>joao@email.com</td>
                    <td>30</td>
                    <td class="table-actions">
                        <a href="" class="table-link-show">Visualizar</a>
                        <a href="" class="table-link-edit">Editar</a>
                        <a href="" class="table-link-delete">Deletar</a>
                    </td>
                </tr>
                <tr>
                    <td>João</td>
                    <td>Santos</td>
                    <td>joao@email.com</td>
                    <td>30</td>
                    <td class="table-actions">
                        <a href="" class="table-link-show">Visualizar</a>
                        <a href="" class="table-link-edit">Editar</a>
                        <a href="" class="table-link-delete">Deletar</a>
                    </td>
                </tr>
                <tr>
                    <td>João</td>
                    <td>Santos</td>
                    <td>joao@email.com</td>
                    <td>30</td>
                    <td class="table-actions">
                        <a href="" class="table-link-show">Visualizar</a>
                        <a href="" class="table-link-edit">Editar</a>
                        <a href="" class="table-link-delete">Deletar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
<%- include("./partials/footer")%>