<%- include("./partials/head") %>
<%- include("./partials/header") %>
<main id="user-create">
  <h1>Adicionar usuário</h1>
  <!-- O locals serve para verificar se a variável foi criada/ enviada -->
  <% if(locals.error){ %>
    <h2 class="error-alert"><%= error.message %></h2>
  <% } %>
  <form action="/user/create" method="POST" enctype="multipart/form-data">
    <input type="text" name="nome" placeholder="Nome do usuário">
    <input type="text" name="sobrenome" placeholder="Sobrenome">
    <input type="email" name="email" placeholder="E-mail">
    <input type="number" name="idade" placeholder="Idade">
    <input type="file" name="avatar">
    <button type="submit">Adicionar</button>
  </form>
</main>
<%- include("./partials/footer") %>
